*{
    padding: 0%;
    margin: 0%;
}
.bgimg{
    background-image: url(Asset/homepage.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 800px;
}

.blur{
    background-image: linear-gradient(90deg, rgba(19, 21, 131, 0.8), rgba(19, 21, 131, 0.8), rgba(20, 7, 21, 0.8));
    height: 800px;
}
.blur1{
    background-image: linear-gradient(90deg, rgba(6, 6, 6, 0.8), transparent, rgba(6, 6, 6, 0.8));
    height: 800px;
}
.bran{  
    color: #696969;
    padding-top: 200px;   
    padding-left: 150px;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-background-clip: text;
}
.gyan{
    padding-left: 150px;
    text-align: initial;
    padding-right: 250px;
}
.bgimg1{
    background-image: url(Asset/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
.cimg1{
    background-image: url(Asset/im1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
.cimg2{
    background-image: url(Asset/im2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
.cimg3{
    background-image: url(Asset/im3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
.cimg4{
    background-image: url(Asset/im4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
.cimg5{
    background-image: url(Asset/im5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
.cran1{      
    text-align: center;
    padding-top: 250px;   
    font-size: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-background-clip: text;
    color: #140761;
}
.cran2{      
    text-align: center;
    padding-top: 250px;   
    font-size: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-background-clip: text;
    
}
.cran3{      
    text-align: center;
    padding-top: 250px;   
    font-size: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-background-clip: text;
    color: #ffff;
}
.cran4{      
    text-align: center;
    padding-top: 250px;   
    font-size: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-background-clip: text;
    color: #140761;
}
.cran5{      
    text-align: center;
    padding-top: 250px;   
    font-size: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-background-clip: text;
    color: black;
}
.inspire{
    color: #ffff;
    font-size: 90px;
    
}
.inspara{
    color: #ffff;
    padding-left: 500px;
}
.foot{
    background-color: rgb(75, 73, 73);
    height: 450px;
    }
.foot{
    text-align: center;
}
.videom{
    padding-bottom: 0px 0px;
    margin-bottom: 0px 0px;
}
.btn-style{
    text-decoration: none;
    background-image: linear-gradient(90deg, yellow, orange);
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    width: 120px;
    margin: 20px;
    box-shadow: 0px 4px 3px 0px black;
  }
  .btn-style:hover{
    color: aliceblue;
  }
  .service-section .owl-carousel .owl-nav .owl-prev , .service-section .owl-carousel .owl-nav .owl-next{
    font-size: 100px;
  } 
  .service-section .owl-carousel .owl-nav{
    text-align: center;
  }
  .service-section h1{
    color: black;
    text-align: center;
    margin: 10px;
  }
  .service-section .card .card1-img{
    overflow: hidden;
    height: 300px;
    padding: 10px;
  }
  .logofo{
    padding-bottom: 10px;
  }
  .logofo{
    display: flex;
  }
  .footer-col-3{
    padding-top: 20px;
    padding-right: 100px;
  }
  .footer-col-4{
    padding-top: 20px;
    padding-right:100px ;

  }
  .learn{
    padding-left: 150px;
  }
  .s1s{
    background-image: url(Asset/s1.jpg);
  }
  .s2s{
    background-image: url(Asset/s2.jpg);
  }
  .s3s{
    background-image: url(Asset/s3.jpg);
  }
  .s4s{
    background-image: url(Asset/s4.jpg);
  }
  .s5s{
    background-image: url(Asset/s5.png);
  }
  .s6s{
    background-image: url(Asset/s6.jpg);
  }
  .s7s{
    background-image: url(Asset/s7.jpg);
  }
  .s8s{
    background-image: url(Asset/s8.jpg);
  }
  .s9s{
    background-image: url(Asset/s9.jpg);
  }
  .s10s{
    background-image: url(Asset/s10.jpg);
  }
 